{% if messages %}
<div id="popup-container">
    {% for message in messages %}
    <div class="popup {{ message.tags }}">
        <span class="icon">
            {% if message.tags == 'success' %}
                ✔
            {% elif message.tags == 'error' %}
                ✖
            {% elif message.tags == 'warning' %}
                ⚠
            {% else %}
                ℹ
            {% endif %}
        </span>
        <span class="text">{{ message }}</span>
    </div>
    {% endfor %}
</div>
{% endif %}